@import '../styles.scss';

.connect {
  color: #cccccc99;
}

section {

  padding: 2em 2em;
}

.text {
  padding-left: 1em;

  font-size: x-large;
}

h1 {
  font-size: 3em;
}

.date {
  color: $blue-a374;
}
