<section>
  <h1 class="a">Получение данных из базы <b>Firestore</b>…</h1>

  <!-- Здесь важен `async`, так как `dataFromBase` наблюдаемый объект и данные подгружаются с задержкой. -->
  <main class="b">

    <div class="text " *ngFor="let item of dataFromBase | async">

      <p class="connect">Три записи из БД представлены ниже …

      <h2>{{ item.name }}</h2>

      {{ item.description }}


      <!-- Здесь парсинг даты полученной с базы -->
      <p class="date">Запись от: {{item.datecreate.seconds*1000 | date: "fullDate"}}</p>
      <p><a href="http://">КОД ЗДЕСЬ</a></p>
    </div>
  </main>
  <div class="probel"></div>
</section>
<footer class="f">
  YS©TM
</footer>